*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --radius: 12px;
    --color-accent: #6a4e67;
    --color-accent2: #5A6E8C;
    --color-accent3: #6a0360;
    --background: #f4f4f4; /* Light background */
    --color5: #333;
    --color-card: #fff; /* White for light mode */
    --color7: #eee;
    --color-input: #a2a2a2; /* Light gray for input fields */
    --color-text: #000; /* Black text for light mode */
    --color-header-text: #fff;  /* White text for header */
    --popup-background: #fcfbfb91;
}
.dark-mode {
    --color-accent: #6a4e67;
    --color2: #5A6E8C;
    --color3: #6a0360;
    --background: #262626;  /* Dark background */
    --color5: #333;
    --color-card: #ffffff38; /* Semi-transparent white for dark mode*/
    --color7: #eee;
    --color-input: #757575d1; /* Semi-transparent gray for dark mode */
    --color-text: #fff; /* White text for dark mode */
    --color-header-text: #fff;  /* White text for header in dark mode */
    --popup-background: #939292c7;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
header {
  background-color: var(--color-accent2);
  color: var(--color-header-text);
  padding: 1em 10px;
  text-align: center;
  display: flex;
}
header h1 {
  margin: 0 auto;
  width: max-content;
}
header img.logo {
  max-width: 40px;
  height: auto;
}
main {
  min-height: calc(90dvh);
}
main > div, .card-popup {
    padding: 0;
    display: grid;
    color: var(--color-text);
}
main > div {
    margin: 10px;
}
nav{
    display: flex;
}
nav .items {
    padding: 12px 8px;
    border-radius: var(--radius);
    transition: background 0.3s;
}
nav .items:hover {
    background: var(--color-accent3);
}
.card {
  background-color: var(--color-card);
  padding: 1em;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.title {
  background-color: var(--color-accent);
  color: var(--color-header-text);
  padding: 8px 15px;
  border-radius: var(--radius) var(--radius) 0 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid var(--color7);
}
.title #select-log, .title div {
  position: absolute;
  right: 10px;
  top: 0;
}
.title .btn {
  top: 2px;
}
#settings {
  background: url("img/settings.svg") no-repeat;
  height: 40px;
  width: 40px;
}
#toggle-theme {
  background: url("img/dark_mode.svg") no-repeat;
  height: 40px;
  width: 40px;
}
.dark-mode #toggle-theme {
  background: url("img/light_mode.svg") no-repeat;
}
ul#device-list {
  list-style-type: none;
  display: flex;
  font-size: 1em;
  padding: 2px;
  flex-wrap: wrap;
  flex-direction: row;
}
ul#device-list li {
  background: var(--color-input); /* #fefefe5e */
  margin: 5px;
  padding: 5px;
  border-radius: var(--radius);
  color: #fff;
  width: calc(93% / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color7);
  position: relative;
  transition: background 0.5s ease;
}
ul#device-list li .btn {
  margin: 1px auto;
}
ul#device-list span {
  padding: 5px 10px;
  text-align: center;
  margin: auto;
  color: #fff;
}
table {
  border-collapse: collapse;
}
td {
  position: relative;
  padding: 10px 8px;
}
tr {
  border-bottom: solid 1px #fff;
}
th {
  padding: 10px 8px;
  text-align: left;
}
.remote-id {
  background: var(--color-accent2);
  border-radius: var(--radius);
  padding: 2px 10px;
  width: fit-content;
  color: #fff;
}
.btn {
  height: 40px;
  width: 40px;
  font-size: 0;
}
.btn.open {
  background: url("img/up.svg") no-repeat;
}
.btn.stop {
  background: url("img/stop.svg") no-repeat;
}
.btn.down {
  background: url("img/down.svg") no-repeat;
}
.btn.bg {
  background-color: var(--color-accent2);
  margin: 9px;
}
.btn.edit {
  background: url("img/settings.svg") center no-repeat;
    background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 6px;
  right: 6px;
  height: 25px;
  width: 25px;
}
.btn.add {
  background: url("img/add.svg") no-repeat;
}
.btn.close {
  background: url("img/close.svg") no-repeat;
}
.btn.help {
  background: url("img/help.svg") no-repeat;
}
.title .help {
    right: 50px;
}
#remote-table .btn.edit.bg {
  top: -2px;
  left: 0;
  right: 0;
  border: 0;
  background-color: var(--color-accent2);
  padding: 14px;
}
button {
  background-color: var(--color-accent3);
  color: var(--color-header-text);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: var(--radius);
  cursor: pointer;
  margin-left: 5px;
}
button:hover {
    background-color: var(--color-accent2);
}
input, select {
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid var(--color7);
    border-radius: var(--radius);
    box-sizing: border-box;
    background: var(--color-input);
    color:var(--color-text);
}
#status-messages {
    min-height: 200px;
    border: 1px solid var(--color7);
    padding: 10px;
    background-color: var(--color-input);
    border-radius: var(--radius);
    white-space: pre-wrap; /* So that newlines in messages are respected */
}
#suggestions {
  width: 6.75dvw;
}
#command-input {
  width: calc(100% - 187px);
}
footer {
  text-align: center;
  padding: 1em 0;
  background-color: var(--color-accent2);
  color: var(--color-header-text);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
#popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(0.7rem);
}
.popup-container{
  min-width: 350px;
  width: 50%;
  color: var(--color-text);
}
.popup-container > .card-popup {
  background: var(--popup-background);
  padding: 16px;
  border-radius: 0 0px var(--radius) var(--radius);
}
#popup-title {
  font-size: 22px;
  margin: 2px 0;
}
#popup-text {
  padding-bottom: 15px;
}
.popup-buttons {
  display: flex;
}
#popup.open {
  display: flex;
  flex-direction: column;
}
header h1 {
  display: none;
}
.inline-confirm { margin-top:8px; font-size:.9em; }
.inline-confirm .warning { color:#b00020; font-weight:600; display:block; margin-bottom:6px; }
.btn.danger { background:#d9534f; color:#fff; }
.btn.ghost  { background:#eee; }
@media (min-width: 1280px) {
    main > div, .card-popup {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    header h1 {
      display: block;
    }
    ul#device-list li {
      width: calc(93% / 6);
    }
}