*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --radius: 12px;
    --color-accent: #6a4e67;
    --color-accent2: #5A6E8C;
    --color-accent3: #6a0360;
    --background: #f4f4f4; /* Light background */
    --color5: #333;
    --color-card: #fff; /* White for light mode */
    --color7: #eee;
    --color-input: #f9f9f9; /* Light gray for input fields */
    --color-text: #000; /* Black text for light mode */
    --color-header-text: #fff;  /* White text for header */
}
.dark-mode {
    --color-accent: #6a4e67;
    --color2: #5A6E8C;
    --color3: #6a0360;
    --background: #262626;  /* Dark background */
    --color5: #333;
    --color-card: #ffffff38; /* Semi-transparent white for dark mode*/
    --color7: #eee;
    --color-input: #757575d1; /* Semi-transparent gray for dark mode */
    --color-text: #fff; /* White text for dark mode */
    --color-header-text: #fff;  /* White text for header in dark mode */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
header {
  background-color: var(--color-accent2);
  color: var(--color-header-text);
  padding: 1em 10px;
  text-align: center;
  display: flex;
}
header h1 {
  margin: 0 auto;
  width: max-content;
}
header img.logo {
  max-width: 40px;
  height: auto;
}
main {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--color-text);
}
main > div {
    margin: 10px;
}

.card {
  background-color: var(--color-card);
  padding: 1em;
  border-radius: 0 0 var(--radius) var(--radius);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-bottom: 1em;
}
section .title {
  background-color: var(--color-accent);
  color: var(--color-header-text);
  padding: 8px 15px;
  border-radius: var(--radius) var(--radius) 0 0;
  margin: 0;
  position: relative;
}
.title {
    color: var(--color5);
    border-bottom: 1px solid var(--color7);
    padding-bottom: 0.5em;
}
.title #select-log {
  position: absolute;
  right: 10px;
  top: 0;
}
ul#device-list {
    list-style-type: none;
    padding: 0;
}
ul#device-list li {
    padding: 0.5em 0;
    border-bottom: 1px solid var(--color7);
}
ul#device-list li:last-child {
    border-bottom: none;
}
#toggle-theme {
  background: url("img/dark_mode.svg") no-repeat;
  height: 25px;
  width: 25px;
  margin: 7px;
}
.dark-mode #toggle-theme {
  background: url("img/light_mode.svg") no-repeat;
}
button {
  background-color: var(--color-accent3);
  color: var(--color-header-text);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: var(--radius);
  cursor: pointer;
  margin-left: 5px;
}
button:hover {
    background-color: var(--color-accent2);
}
input[type="text"], select {
    padding: 8px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid var(--color7);
    border-radius: var(--radius);
    box-sizing: border-box;
    background: var(--color-input);
    color:var(--color-text);
}
#status-messages {
    min-height: 50px;
    border: 1px solid var(--color7);
    padding: 10px;
    background-color: var(--color-input);
    border-radius: var(--radius);
    white-space: pre-wrap; /* So that newlines in messages are respected */
}
#suggestions {
  width: 6.75dvw;
}
#command-input {
  width: calc(100% - 187px);
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: var(--color-accent2);
    color: var(--color-header-text);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
